{
  "openapi": "3.0.0",
  "info": {
    "title": "YUDZXML API'S",
    "version": "1.0.1",
    "description": "Dokumentasi resmi API YUDZXML. Gunakan endpoint ini untuk mengambil data video terbaru dari berbagai platform atau melakukan konversi audio ke teks secara cepat dan mudah."
  },
  "servers": [
    {
      "url": "https://api.yudzxyz.x-server.my.id",
      "description": "Server 1"
    }
  ],
  "paths": {
    "/api/xnxx": {
      "get": {
        "summary": "Ambil video terbaru",
        "description": "Endpoint ini digunakan untuk mengambil daftar video terbaru berdasarkan kata kunci pencarian dari berbagai platform.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "description": "Kata kunci pencarian video, misal: 'terbaru', 'viral', 'tutorial'.",
            "schema": {
              "type": "string",
              "example": "terbaru"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data video berhasil diambil",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "author": "Yudzxml",
                  "data": [
                    {
                      "videoId": "85013417",
                      "videoUrl": "https://example.com/video/85013417",
                      "title": "Contoh Video 1",
                      "thumbnail": "https://example.com/thumbs/85013417.jpg",
                      "uploaderName": "Uploader1",
                      "uploaderUrl": "https://example.com/uploader/uploader1",
                      "views": "18.6M",
                      "rating": "94%",
                      "duration": "5min",
                      "resolution": "1080p"
                    },
                    {
                      "videoId": "85161255",
                      "videoUrl": "https://example.com/video/85161255",
                      "title": "Contoh Video 2",
                      "thumbnail": "https://example.com/thumbs/85161255.jpg",
                      "uploaderName": "Uploader2",
                      "uploaderUrl": "https://example.com/uploader/uploader2",
                      "views": "16.6M",
                      "rating": "100%",
                      "duration": "1min",
                      "resolution": "720p"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Video tidak ditemukan dengan kata kunci yang diberikan"
          }
        }
      }
    },
    "/api/tools/speechtotext": {
  "get": {
    "summary": "Konversi audio ke teks",
    "description": "Endpoint ini mengubah file audio (format .opus) menjadi teks. Gunakan parameter `url` untuk menunjuk ke file audio yang ingin dikonversi.",
    "servers": [
      {
        "url": "https://api-yudzxzy.vercel.app",
        "description": "Server untuk tools speech-to-text"
      }
    ],
    "parameters": [
      {
        "name": "url",
        "in": "query",
        "required": true,
        "description": "URL lengkap file audio yang akan dikonversi ke teks",
        "schema": {
          "type": "string",
          "example": "https://cdn.yupra.my.id/yp/5l6ps5pn.opus"
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Audio berhasil dikonversi menjadi teks",
        "content": {
          "application/json": {
            "example": {
              "status": 200,
              "author": "Yudzxml",
              "result": {
                "data": {
                  "text": "\"Halo, Wa Ing. Apa kabar?\""
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "URL audio tidak valid atau tidak ditemukan"
      },
      "500": {
        "description": "Terjadi kesalahan server saat memproses audio"
      }
    }
  }
}
  }
}