{
  "openapi": "3.0.0",
  "info": {
    "title": "YUDZXML Example API",
    "version": "1.0.0",
    "description": "Dokumentasi API untuk pencarian video terbaru dari xnxx"
  },
  "servers": [
    {
      "url": "https://api.yudzxyz.x-server.my.id",
      "description": "Server produksi"
    }
  ],
  "paths": {
    "/api/xnxx": {
      "get": {
        "summary": "Cari video terbaru",
        "description": "Mencari video terbaru menggunakan query search",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "description": "Keyword pencarian, contoh: terbaru",
            "schema": {
              "type": "string",
              "example": "terbaru"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil mendapatkan data video",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "author": "Yudzxml",
                  "data": [
                    {
                      "videoId": "85013417",
                      "videoUrl": "https://www.xnxx.com/video-1em4rt89/enaknya_ngentot_pacar_disamping_kakaknya",
                      "title": null,
                      "thumbnail": "https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxx/f4/24/11/f4241121a8424d38adb5b92391c7319b/f4241121a8424d38adb5b92391c7319b.17.jpg",
                      "uploaderName": "Kopihitamenak",
                      "uploaderUrl": "https://www.xnxx.com/porn-maker/kopihitamenak",
                      "views": "18.6M",
                      "rating": "94%",
                      "duration": "5min",
                      "resolution": "1080p"
                    },
                    {
                      "videoId": "85161255",
                      "videoUrl": "https://www.xnxx.com/video-1epauf40/bu_guru_montok_viral_terbaru",
                      "title": null,
                      "thumbnail": "https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxx/8a/21/be/8a21bee40566419b226ebb86ee80b54a/8a21bee40566419b226ebb86ee80b54a.2.jpg",
                      "uploaderName": null,
                      "uploaderUrl": "https://www.xnxx.comnull",
                      "views": "16.6M",
                      "rating": "100%",
                      "duration": "1min",
                      "resolution": "720p"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Tidak ada video ditemukan"
          }
        }
      }
    }
  }
}