{
  "openapi": "3.0.3",
  "info": {
    "title": "YUDZXML API'S",
    "version": "1.0.1",
    "description": "Dokumentasi resmi API YUDZXML. Gunakan endpoint ini untuk mengambil data video terbaru dari berbagai platform, mengunduh APK, atau melakukan konversi audio ke teks secara cepat dan mudah."
  },
  "servers": [
    { "url": "https://api.yudzxyz.x-server.my.id", "description": "Server utama" }
  ],
  "tags": [
    { "name": "SEARCH", "description": "Semua API Search dari berbagai platform" },
    { "name": "DOWNLOAD", "description": "API khusus download berbagai platform" },
    { "name": "TOOLS", "description": "API tools berbagai platform" }
  ],
  "paths": {
    "/api/xnxx": {
      "get": {
        "tags": ["SEARCH"],
        "summary": "XNXX API (Search or Download)",
        "servers": [
          { "url": "https://api.yudzxyz.x-server.my.id", "description": "Server utama" }
        ],
        "description": "Gunakan query parameter `search` untuk mencari video atau `download` untuk mengambil link download video.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Kata kunci pencarian video, misal: 'terbaru', 'viral', 'tutorial'. Kosongin jika ingin fetch download",
            "schema": { "type": "string", "example": "terbaru" }
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "description": "URL video XNXX untuk download/detail (kosongin jika fetch search)",
            "schema": { "type": "string", "example": "https://www.xnxx.com/video-1em4rt89/example" }
          }
        ],
        "responses": {
          "200": {
            "description": "Data berhasil diambil",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "author": "Yudzxml",
                  "data": [
                    { "videoId": "85013417", "title": "Contoh Video 1", "videoUrl": "https://example.com/video/85013417", "thumbnail": "https://example.com/thumbs/85013417.jpg" }
                  ]
                }
              }
            }
          },
          "400": { "description": "Query parameter tidak valid" },
          "404": { "description": "Video tidak ditemukan" }
        }
      }
    },
    "/api/nekopoi": {
      "get": {
        "tags": ["SEARCH"],
        "summary": "Nekopoi API (Search, Detail, Latest)",
                "servers": [
          { "url": "https://api.yudzxyz.x-server.my.id", "description": "Server utama" }
        ],
        "description": "Gunakan `search` untuk mencari, `detail` untuk detail, atau `latest=true` untuk daftar terbaru.",
        "parameters": [
          { "name": "search", "in": "query", "required": false, "description": "Kata kunci pencarian", "schema": { "type": "string", "example": "ero" } },
          { "name": "detail", "in": "query", "required": false, "description": "URL untuk detail video", "schema": { "type": "string", "example": "https://nekopoi.care/some-video" } },
          { "name": "latest", "in": "query", "required": false, "description": "Gunakan `latest=true` untuk daftar terbaru", "schema": { "type": "boolean", "example": true } }
        ],
        "responses": { "200": { "description": "Data berhasil diambil" }, "400": { "description": "Query parameter tidak valid" }, "404": { "description": "Video/episode tidak ditemukan" } }
      }
    },
    "/api/xvideo": {
      "get": {
        "tags": ["SEARCH"],
        "summary": "XVideos API (Search & Detail)",
                "servers": [
          { "url": "https://api.yudzxyz.x-server.my.id", "description": "Server utama" }
        ],
        "description": "Gunakan `search` untuk mencari, `detail` untuk detail video. Salah satu wajib dikosongkan agar fetch tidak tabrakan.",
        "parameters": [
          { "name": "search", "in": "query", "required": false, "description": "Kata kunci pencarian video", "schema": { "type": "string", "example": "indo tobrut" } },
          { "name": "detail", "in": "query", "required": false, "description": "URL untuk detail video", "schema": { "type": "string", "example": "https://www.xvideos.com/video.example" } }
        ],
        "responses": { "200": { "description": "Data berhasil diambil" }, "400": { "description": "Query parameter tidak valid" }, "404": { "description": "Video tidak ditemukan" } }
      }
    },
    "/api/capcut": {
      "get": {
        "tags": ["DOWNLOAD"],
        "summary": "Get CapCut Video Detail",
        "servers": [
          { "url": "https://api.yudzxyz.x-server.my.id", "description": "Server utama" }
        ],        
        "description": "Ambil detail video CapCut berdasarkan URL.",
        "parameters": [{ "name": "url", "in": "query", "required": true, "description": "URL video CapCut", "schema": { "type": "string", "example": "https://www.capcut.com/tv2/ZSDJAn57J/" } }],
        "responses": { "200": { "description": "Berhasil diambil" }, "400": { "description": "URL tidak valid" }, "404": { "description": "Video tidak ditemukan" } }
      }
    },
    "/api/ytdl": {
  "get": {
    "tags": ["DOWNLOAD"],
    "summary": "YouTube Video Downloader",
    "description": "Ambil video YouTube berdasarkan URL. Parameter `url` wajib diisi. `quality` dan `format` bersifat opsional.\n\nContoh request: `https://api-yudzxml.koyeb.app/api/ytdl?url=https://youtube.com/watch?v=Fp154clV4pk&quality=360&format=video`",
    "servers": [
      { "url": "https://api-yudzxml.koyeb.app", "description": "Server utama" }
    ],
    "parameters": [
      {
        "name": "url",
        "in": "query",
        "required": true,
        "description": "URL video YouTube yang ingin diunduh (WAJIB diisi)",
        "schema": {
          "type": "string",
          "format": "uri",
          "example": "https://youtube.com/watch?v=Fp154clV4pk"
        }
      },
      {
        "name": "quality",
        "in": "query",
        "required": false,
        "description": "Resolusi video (360,480,720,1080) atau kualitas audio (320,256,192,128)",
        "schema": {
          "type": "integer",
          "example": 360,
          "enum": [360, 480, 720, 1080, 320, 256, 192, 128]
        }
      },
      {
        "name": "format",
        "in": "query",
        "required": false,
        "description": "Format file yang diinginkan, 'video' atau 'audio'",
        "schema": {
          "type": "string",
          "example": "video",
          "enum": ["video", "audio"]
        }
      }
    ],
    "responses": {
      "200": {
        "description": "Video berhasil diambil",
        "content": {
          "application/json": {
            "example": {
              "status": 200,
              "author": "Yudzxml",
              "data": {
                "title": "DUKA - last chilid (lirik)",
                "duration": "5:18",
                "quality": 360,
                "format": "mp4",
                "downloadUrl": "https://storage.cdnframe.com/yt-cdn-f1a9553a/Fp154clV4pk/best.mp4"
              }
            }
          }
        }
      },
      "400": { "description": "Parameter kurang atau URL tidak valid" },
      "404": { "description": "Video tidak ditemukan" }
    }
  }
},
    "/api/tools/speechtotext": {
      "get": {
        "tags": ["TOOLS"],
        "summary": "Konversi audio ke teks",
        "description": "Ubah file audio (.opus) menjadi teks menggunakan parameter `url`.",
      "servers": [
      { "url": "https://api-yudzxzy.vercel.app", "description": "Server utama" }
       ],        
        "parameters": [{ "name": "url", "in": "query", "required": true, "description": "URL file audio", "schema": { "type": "string", "example": "https://cdn.yupra.my.id/yp/5l6ps5pn.opus" } }],
        "responses": { "200": { "description": "Berhasil dikonversi" }, "400": { "description": "URL tidak valid" }, "500": { "description": "Error server" } }
      }
    },
    "/api/download/apk": {
      "get": {
        "tags": ["SEARCH"],
        "summary": "APK API (Search & Detail)",
        "description": "Gunakan `search` untuk mencari, `download` untuk detail APK. Satu wajib dikosongkan.",
              "servers": [
      { "url": "https://api-yudzxzy.vercel.app", "description": "Server utama" }
       ],    
        "parameters": [
          { "name": "search", "in": "query", "required": false, "description": "Kata kunci APK", "schema": { "type": "string", "example": "Pou" } },
          { "name": "download", "in": "query", "required": false, "description": "Package ID APK", "schema": { "type": "string", "example": "me.pou.app" } }
        ],
        "responses": { "200": { "description": "Berhasil diambil" }, "400": { "description": "Parameter tidak valid" }, "404": { "description": "APK tidak ditemukan" } }
      }
    }
  }
}